/* CSS */
.button-12 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 6px 14px;
  font-family: -apple-system, BlinkMacSystemFont, "Roboto", sans-serif;
  border-radius: 10px;
  border: none;
  background: #6e6d70;
  box-shadow: 0px 0.5px 1px rgba(0, 0, 0, 0.1),
    inset 0px 0.5px 0.5px rgba(255, 255, 255, 0.5),
    0px 0px 0px 0.5px rgba(0, 0, 0, 0.12);
  color: #dfdedf;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-12:focus {
  box-shadow: inset 0px 0.8px 0px -0.25px rgba(255, 255, 255, 0.2),
    0px 0.5px 1px rgba(0, 0, 0, 0.1), 0px 0px 0px 3.5px rgba(58, 108, 217, 0.5);
  outline: 0;
}

/* CSS for style button 16*/
.button-16 {
  background-color: #f8f9fa;
  border: 1px solid #f8f9fa;
  border-radius: 10px;
  color: #3c4043;
  cursor: pointer;
  font-family: arial, sans-serif;
  font-size: 14px;
  height: 36px;
  line-height: 27px;
  min-width: 54px;
  padding: 0 16px;
  text-align: center;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: pre;
}

.button-16:hover {
  border-color: #dadce0;
  box-shadow: rgba(0, 0, 0, 0.1) 0 1px 1px;
  color: #202124;
}

.button-16:focus {
  border-color: #333333;
  outline: none;
}

.button-16:active {
  background-color: #333333;
  border-color: #cccccc;
  color: #ffffff;
}

/* CSS for style button Delete*/
.button-17 {
  background-color: #f8ebeb;
  border: 1px solid #e5e7eb;
  border-radius: 10px;
  color: #3c4043;
  cursor: pointer;
  font-family: arial, sans-serif;
  font-size: 12px;
  height: 30px;
  line-height: 27px;
  min-width: 54px;
  padding: 0 16px;
  text-align: center;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: pre;
  position: relative; /* Add position relative for pseudo-element */
}

.button-17 .button-icon {
  position: absolute;
  left: 8px; /* Adjust the left position to align the icon as desired */
  top: 50%;
  transform: translateY(-50%);
  width: 12px;
  height: 12px;
  background: url("delete.png") center center no-repeat;
  background-size: cover;
}

.button-17:hover {
  border-color: #dadce0;
  box-shadow: rgba(0, 0, 0, 0.1) 0 1px 1px;
  color: #202124;
}

.button-17:focus {
  border-color: #333333;
  outline: none;
}

/* CSS for style button 16*/
.button-18 {
  background-color: #ffffff;
  border: 1px solid #e5e7eb;
  border-radius: 10px;
  color: #3c4043;
  cursor: pointer;
  font-family: arial, sans-serif;
  font-size: 14px;
  height: 30px;
  line-height: 27px;
  min-width: 54px;
  padding: 0 16px;
  text-align: center;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: pre;
  position: relative; /* Add position relative for pseudo-element */
}

.button-18 .button-icon {
  position: absolute;
  left: 8px; /* Adjust the left position to align the icon as desired */
  top: 50%;
  transform: translateY(-50%);
  width: 16px;
  height: 16px;
  /* Replace the background URL with the edit.jpg image URL */
  background: url("edit.png") center center no-repeat;
  background-size: cover;
}

.button-18:hover {
  border-color: #dadce0;
  box-shadow: rgba(0, 0, 0, 0.1) 0 1px 1px;
  color: #202124;
}

.button-18:focus {
  border-color: #333333;
  outline: none;
}

.status {
  display: inline-block;
  background-color: #ffffff;
  border: 1px solid #e5e7eb;
  font-family: arial, sans-serif;
  border-radius: 10px;
  font-size: 14px;
  height: 30px;
  line-height: 27px;
  min-width: 54px;
  padding: 0 16px;
  text-align: center;
}

.text {
  color: #4b5563;
  font-size: 10px;
}
