.image-container {
  width: 50px;
  height: 50px;
  border-radius: 4px;
  background-color: #fff33f;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.container {
  display: grid; /* Use CSS grid for layout */
  grid-template-columns: auto 1fr; /* Define two columns, one for the image and one for the text */
  align-items: center; /* Center align items vertically within the container */
  grid-column-gap: 10px; /* Add some gap between the columns */
}

img {
  grid-column: 1 / span 1; /* Place the image in the first column */
}

.textcontainer {
  display: inline-block;
  width: 300px;
  background-color: #f9fafb;
  border: 1px solid #e5e7eb;
  border-radius: 4px;
  padding: 5px;
  margin-right: 10px; /* Added margin-right for spacing */
}

.text {
  color: #4b5563;
}

.emptycontainer {
  display: inline-block;
  width: 300px;
  background-color: #ffffff;
  border: 1px solid #ffffff;
  border-radius: 4px;
  padding: 5px;
  margin-right: 10px; /* Added margin-right for spacing */
}
.text {
  color: #ffffff;
}
