:root {
  font: 100%;
  font-size: 16px;
  list-style: 1.5;
  --blue: #4e73df;
  --gray: #858796;
  --gray-dark: #5a5c69;
}

body {
  padding: 0;
  margin: 0;
  background: url("images/background.png");
  background-size: cover;
  background-color: var(--blue);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.header_wrapper header {
  width: 100%;
  min-height: calc(75px + 15vw);
}
.header_wrapper .container {
  padding: 80px 20px;
  text-align: center;
  width: 100%;
  position: relative;
  margin: 0 auto;
  background: white;
}

.header_wrapper .container .profile_image .img {
  z-index: 1;
  width: 100px;
  height: 100px;
  position: relative;
  display: block;
  margin-top: -75px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
  border: 10px solid #4e73df;
}

.btn {
  display: inline-block;
  position: relative;
  background-color: var(--blue);
  color: #fff;
  font-size: 16px;
  padding: 12px 24px;
  border-radius: 5px;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  overflow: hidden;
  z-index: 1;
}

.button-12 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 6px 14px;
  font-family: -apple-system, BlinkMacSystemFont, "Roboto", sans-serif;
  border-radius: 10px;
  border: none;
  background: #6e6d70;
  box-shadow: 0px 0.5px 1px rgba(0, 0, 0, 0.1),
    inset 0px 0.5px 0.5px rgba(255, 255, 255, 0.5),
    0px 0px 0px 0.5px rgba(0, 0, 0, 0.12);
  color: #dfdedf;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-12:focus {
  box-shadow: inset 0px 0.8px 0px -0.25px rgba(255, 255, 255, 0.2),
    0px 0.5px 1px rgba(0, 0, 0, 0.1), 0px 0px 0px 3.5px rgba(58, 108, 217, 0.5);
  outline: 0;
}
